body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
}
.weather-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px; /* Increase padding for a bigger card */
    display: flex;
    align-items: center;
    max-width: 600px; /* Set a maximum width */
    width: 90%; /* Set a relative width */
    margin: 0 auto; /* Center the card */
}

.weather-card img {
    width: 80px; /* Increase the image size */
    height: 80px; /* Increase the image size */
    margin-right: 30px; /* Increase margin */
}

.weather-details {
    text-align: left;
}

.city {
    font-size: 28px; /* Adjust font size */
    margin: 0;
}

.temperature {
    font-size: 42px; /* Adjust font size */
    margin: 15px 0; /* Adjust margin */
}

.description {
    font-size: 20px; /* Adjust font size */
    margin: 0;
}

/* Add media query for larger screens */
@media screen and (min-width: 768px) {
    .weather-card {
        padding: 40px; /* Increase padding further for larger screens */
    }

    .weather-card img {
        width: 100px; /* Increase the image size further for larger screens */
        height: 100px; /* Increase the image size further for larger screens */
        margin-right: 40px; /* Increase margin further for larger screens */
    }

    .city {
        font-size: 32px; /* Adjust font size further for larger screens */
    }

    .temperature {
        font-size: 48px; /* Adjust font size further for larger screens */
        margin: 20px 0; /* Adjust margin further for larger screens */
    }

    .description {
        font-size: 24px; /* Adjust font size further for larger screens */
    }
}


footer {
    background-color: #34495e;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Styles for search container */
.search-container {
    display: flex;
    margin-top: 20px;
}

/* Styles for search input */
#cityInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

/* Styles for search button */
.search-container button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #45a049;
}
.city-name {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.button-clicked {
    transition: transform 0.2s ease-in-out;
    transform: scale(0.95);
}

.button-clicked:active {
    transform: scale(1);
}
